<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beiyuan.note.mapper.SummaryMapper">
    <insert id="insertReturnSummaryId" parameterType="note.entity.Summary">

        <selectKey keyProperty="summaryId" resultType="Integer" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into summary (views_count,favorite_count) values (#{viewsCount},#{favoriteCount})
    </insert>
</mapper>
