<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beiyuan.cate.mapper.CategoryMapper">
    <delete id="deleteByName" parameterType="string">
        delete from  category where name=#{name}
    </delete>

</mapper>
