<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beiyuan.user.mapper.FavoriteMapper">
    <select id="pageList" resultType="user.entity.Favorite">
        select favorite_id ,user_id ,note_id ,name from favorite
        limit #{cur},#{limit}
    </select>
</mapper>
